{% load static %}
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static "javna_uprava/vendor/bootstrap-5.2.0-beta1-dist/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "javna_uprava/css/style.css" %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Javna uprava</title>{% endblock title %}
</head>
<body>
    {% block header %}
    <header>
      <h1 id="nav_title">Kratak Sadržaj</h1>
      <nav>
        <ul>
          <li><a href="#">Početna</a></li>
          <li><a href="#">Kvizovi</a></li>
          <li><a href="#">Skripte</a></li>
        </ul>
      </nav>
    </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
</body>
</html>