{% load static %}
<html lang="en">

<head>

  <link rel="stylesheet" type="text/css"
    href="{% static "javna_uprava/vendor/bootstrap-5.2.0-beta1-dist/css/bootstrap.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "javna_uprava/css/style.css" %}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Uletjeti</title>{% endblock title %}
</head>

<body>
  {% block header %}

  <header>
    <a class="logo" href="{% url 'javna_uprava:index' %}">uletjeti.io</a>
    <nav>
      <ul id="nav_links" class="nav_links">
        <li><a href="#">Testovi</a></li>
        <li><a href="#">Skripte</a></li>
        <li><a href="#">Pomoć</a></li>
      </ul>
    </nav>
    <a id="contact_btn" class="contact_btn" href="#"><button>Kontakt</button></a>
    <div id="menu_icon" class="menu_icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>

  {% endblock header %}
  {% block content %}{% endblock content %}
  {% block left-sidebar %}{% endblock left-sidebar %}
  {% block right-sidebar %}{% endblock right-sidebar %}
  {% block footer %}{% endblock footer %}
  <script>
    const toggleButton = document.getElementById("menu_icon");
    const navList = document.getElementById("nav_links");
    const contactButton = document.getElementById("contact_btn");

    toggleButton.addEventListener("click", () => {
      navList.classList.toggle("open_menu");
      contactButton.classList.toggle("open_menu");
    });
  </script>
</body>

</html>