{% load static %}


<div class="card-index-title">
    <h2>Brčko distrikt Bosne i Hercegovine</h2>
    <p>Brčko distrikt je administrativna jedinica Bosne i Hercegovine. Distrikt se nalazi u sjeveroistočnom dijelu Bosne i Hercegovine i pod međunarodnom je upravom. Sjedište distrikta je grad Brčko.</p>
</div>


<div class="card-index-subtitle">
    <h3>Javna uprava</h3>
    <p>Javnu upravu Distrikta čine: odjeljenja Vlade Distrikta, Kancelarija gradonačelnika, Direkcija za finansije Distrikta, Kancelarija za upravljanje javnom imovinom, Kancelarija koordinatora Distrikta pri Savjetu ministara Bosne i Hercegovine i drugi organi uprave kada je to zakonom određeno.</p>
</div>

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card" onclick="location.href='{% url "javna_uprava_vss_brcko:index" %}';">
        <div class="card-title">
            <h4>javna uprava vss/všs</h4>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.webp' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>Interaktivni kvizovi s pitanjima za kandidate koji konkurišu za zapošljavanje u organima javne uprave Brčko distrikta BiH s visokom i višom stručnom spremom.</p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava brcko sss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>javna uprava sss</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Interaktivni kvizovi s pitanjima za kandidate koji konkurišu za zapošljavanje u organima javne uprave Brčko distrikta BiH sa srednjom stručnom spremom.
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava namjestenik -->
    <div class="card" onclick="location.href='{% url "namjestenik_brcko:index" %}';">
        <div class="card-title">
            <h4>Namještenik</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Interaktivni kvizovi s pitanjima za kandidate koji konkurišu za zapošljavanje u organima javne uprave Brčko distrikta BiH na namješteničke pozicije.
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
</div>

<div class="card-index-subtitle">
    <h3>Stručna pitanja</h3>
    <p>Stručna pitanja odnose se na pitanja iz određenih struka definiranim pozivom i konkursnim specifikacijama za raspisano radno mjesto. Stručna pitanja često prate trendove u razvoju određene struke.</p>
</div>

<!-- Strucna pitanja -->

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Šef pododjeljenja za ljudske resurse i zapošljavanje</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Pododjeljenje za ljudske resurse ostvaruje neophodne kontakte sa svim organima Vlade Brčko distrikta BiH, kako bi obezbijedilo koordinaciju u procesu upravljanja ljudskim resursima. Svim organima Vlade pruža administrativno-stručnu podršku i razvija procedure za upravljanje ljudskim resursima, te vodi ukupne procese kadrovske politike i sugeriše gradonačelniku potrebne procedure za upravljanje ovim procesima.
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>
    <!-- lvocucvar-->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Lovočuvar</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lovočuvar ima svojstvo službenog lica.
                    Za vrijeme službenog obavljanja posla, lovočuvar nosi opremu (odijelo, oružje, čizme, torbicu, mobitel i dr.) i može koristi prijevozno sredstvo korisnika.
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za poljoprivredu, šumarstvo i vodno gospodarstvo</div>
    </div>
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Sekretar škole</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Za obavljanje pravno-administratinih poslova škola ima sekretara. U okviru radne sedmice sekretar škole obavlja slijedeće radne zadatke: Planiranje rada i stručna saradnja, praćenje i realizacija planiranog rada, ostali poslovi i radni zadaci.
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>

    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Farmaceutski tehničar</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Farmaceutski tehničar radi s farmaceutskim sirovinama u pripremi i proizvodnji gotovih farmaceutskih proizvoda. 
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za zdravstvo i ostale usluge</div>
    </div>
    
    
</div>