{% load static %}


<div class="card-index-title">
    <h2>Federacija Bosne i Hercegovine</h2>
</div>

<div class="card-index-subtitle">
    <h3>Rad u organima državne službe</h3>
</div>

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Radni odnosi</h4>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.jpg' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava brcko sss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Upravni postupak upravni spor</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijsko poslovanje</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnove uprave u BiH</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnove ustavnog sistema</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Evropske integracije</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
</div>
