{% load static %}


<div class="card-index-title">
    <h2>Federacija Bosne i Hercegovine</h2>
    <p>Federacija Bosne i Hercegovine jest, prema Dejtonskom sporazumu, jedan od dva entiteta u Bosni i Hercegovini (pored Republike Srpske) i zauzima 51% njene površine.</p>
</div>

<div class="card-index-subtitle">
    <h3>Rad u organima državne službe</h3>
    <p>Državni službenik je lice postavljeno rješenjem na radno mjesto u organ državne službe, u skladu sa zakonom.</p>
<p>U organima državne službe Federacije, kantona, gradova i općina, Bošnjaci, Hrvati i Srbi, kao konstitutivni narodi zajedno sa ostalima i građani Bosne i Hercegovine bit će proporcionalno zastupljeni.</p>
</div>

<div class="card-index-subcontainer">
    <!--Rad u organima državne službe brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Radni odnosi</h4>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.webp' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>Ova oblast obuhvata zaključivanje ugovora o radu, radno vrijeme, plaće, prestanak ugovora o radu, ostvarivanje prava i obaveza iz radnog odnosa, zaključivanje kolektivnih ugovora, mirno rješavanje kolektivnih radnih sporova i druga pitanja iz radnog odnosa, ako drugim zakonom ili međunarodnim ugovorom nije drugačije određeno.</p>

            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>

    <!--Rad u organima državne službe brcko sss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Upravni postupak upravni spor</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>Upravni plostupak je skup pravnih pravila po kojima postupaju tijela državne uprave i pravne osobe s javnim ovlastima kada rješavaju o pravima i obvezama i pravnim interesima građana, i drugih subjekata u pojedinim upravnim stvarima. </p>

            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>

    <!--Rad u organima državne službe namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijsko poslovanje</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Kancelarijsko poslovanje obuhvaća: primanje, otvaranje, pregledanje i raspoređivanje pošte, odnosno akata, zavođenje akata, združivanje akata, dostavljanje predmeta i akata u rad, rad s aktima, razvođenje predmeta i akata, rokovnik predmeta, otpremanje pošte i stavljanje predmeta i akata u arhivu ( arhiviranje ) i njihovo čuvanje.
                </p>
            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>
    <!--Rad u organima državne službe namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnove uprave u BiH</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Osnove uprave u federaciji Bosne i Hercegovine obuhvata: Zakon o organizaciji organa uprave u FBiH, Zakon o principima lokalne samouprave, Zakon o vladi FBiH.
                </p>
            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>
    <!--Rad u organima državne službe namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnove ustavnog sistema</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Osnove ustavnog sustava Federacije BiH obhvata: Ustav BiH, Aneks 6 - Opći okvirni sporazum za mir u BiH, Ustav FBiH, Ustav RS, Statut Brčko, Zakon o državljanstvu BiH.
                </p>
            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>
    <!--Rad u organima državne službe namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Evropske integracije</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Osnove europskih integracija obuhvata: Evropska konvencija o ljudskim pravima
                </p>
            </div>
        </div>
        <div class="card-link">Rad u organima državne službe</div>
    </div>
</div>
