{% extends 'main_base.html' %}
{% block content %}
<div id="home-index-main">

    <div class="select-container">

        <div class="select-menu">
            <button id="select-button">
                Odaberi upravnu jedinicu...
            </button>
        </div>

        <div class="options-container">
            <div class="select-options-container">
                <button value="brcko-quiz-cards" onclick="showCards(event)" class="option-button">Brčko distrikt Bosne i
                    Hercegovine</button>
                <button value="federacija-quiz-cards" onclick="showCards(event)" class="option-button">Federacija Bosne
                    i
                    Hercegovine</button>
                <button value="rs-quiz-cards" onclick="showCards(event)" class="option-button">Republika srpska Bosne i
                    Hercegovine</button>
            </div>
        </div>
    </div>

    <div class="quiz-cards-container">
        <div id="brcko-quiz-cards" class="quiz-cards">
            {% include "home/brcko.html" %}
        </div>
        <div id="federacija-quiz-cards" class="quiz-cards">
            {% include "home/federacija.html" %}
        </div>
        <div id="rs-quiz-cards" class="quiz-cards">
            {% include "home/rs.html" %}
        </div>
    </div>


    <script>
        const selectButton = document.getElementsByClassName("select-menu")[0];
        const optionsButtons = document.getElementsByClassName("select-options-container")[0];
        selectButton.addEventListener("click", function () {
            if (optionsButtons.style.maxHeight) {
                optionsButtons.style.maxHeight = null;
            } else {

                optionsButtons.style.maxHeight = optionsButtons.scrollHeight + "px";
            }
        });

        window.addEventListener("click", function (event) {
            if (event.target.id !== "select-button") {
                optionsButtons.style.maxHeight = null;
            }
        })

        function showCards(event) {
            for (const i of document.getElementsByClassName("quiz-cards")) {
                if (i.classList.contains("show-card")) {
                    i.classList.remove("show-card")
                } else {
                }
            }
            document.getElementById(event.target.value).classList.add("show-card")
            selectButton.children[0].innerHTML = event.target.innerHTML;
        }

    </script>

</div>
{% endblock content %}