{% extends 'main_base.html' %}
{% block content %}
<div id="home-index-main">

    <div class="select-container">

        <div class="select-menu">
            <button id="select-button" class="select-button">
                Odaberite upravnu jedinicu
                <i id="select-arrow-down" class="thin fa-light fa-angle-down select-button hideArrow"></i>
                <i id="select-arrow-right" class="thin fa-light fa-angle-right select-button"></i>
            </button>

        </div>


        <div class="options-container">
            <div class="select-options-container">
                <button value="brcko-quiz-cards" onclick="showCards(event)" class="option-button">Brčko distrikt Bosne i
                    Hercegovine</button>
                <button value="federacija-quiz-cards" onclick="showCards(event)" class="option-button">Federacija Bosne
                    i
                    Hercegovine</button>
                <button value="rs-quiz-cards" onclick="showCards(event)" class="option-button">Republika srpska Bosne i
                    Hercegovine</button>
            </div>
        </div>
    </div>

    <div class="quiz-cards-container">
        <div id="brcko-quiz-cards" class="quiz-cards">
            {% include "home/brcko.html" %}
        </div>
        <div id="federacija-quiz-cards" class="quiz-cards">
            {% include "home/federacija.html" %}
        </div>
        <div id="rs-quiz-cards" class="quiz-cards">
            {% include "home/rs.html" %}
        </div>
    </div>


    <script>
        let arrowDown = document.getElementById("select-arrow-down");
        let arrowRight = document.getElementById("select-arrow-right");

        const selectButton = document.getElementsByClassName("select-menu")[0];
        const optionsButtons = document.getElementsByClassName("select-options-container")[0];
        const selectSpan = document.getElementById("select-span");


        selectButton.addEventListener("click", function () {

            arrowDown = document.getElementById("select-arrow-down");
            arrowRight = document.getElementById("select-arrow-right");

            if (optionsButtons.style.maxHeight) {


                arrowDown.classList.toggle("hideArrow");
                arrowRight.classList.toggle("hideArrow");
                optionsButtons.style.maxHeight = null;
            } else {

                arrowDown.classList.toggle("hideArrow");
                arrowRight.classList.toggle("hideArrow");

                optionsButtons.style.maxHeight = optionsButtons.scrollHeight + "px";
            }

        });


        window.addEventListener("click", function (event) {
            if (optionsButtons.style.maxHeight) {

                arrowDown.classList.remove("hideArrow");
                arrowRight.classList.add("hideArrow");
            }
            if (event.target.id !== "select-button") {
                if (optionsButtons.style.maxHeight) {

                    arrowDown.classList.remove("hideArrow");
                    arrowRight.classList.add("hideArrow");
                }

                optionsButtons.style.maxHeight = null;



            }
        })

        function showCards(event) {
            for (const i of document.getElementsByClassName("quiz-cards")) {
                if (i.classList.contains("show-card")) {
                    i.classList.remove("show-card")
                } else {
                }
            }
            document.getElementById(event.target.value).classList.add("show-card")
            selectButton.children[0].innerHTML = `${event.target.innerHTML}<i id="select-arrow-down" class="hideArrow thin fa-light fa-angle-down select-button"></i>
                <i id="select-arrow-right" class="thin fa-light fa-angle-right select-button"></i>`;

        }

    </script>

</div>
{% endblock content %}