{% extends 'main_base.html' %}
{% block content %}
<div id="home-index-main">

    <div class="select-container">

        <div class="select-menu">
            <button id="select-button">
                Odaberi upravnu jedinicu...
            </button>
        </div>

        <div class="options-container">
            <div class="select-options-container">
                <button class="option-button">Brčko distrikt Bosne i Hercegovine</button>
                <button class="option-button">Federacija Bosne i Hercegovine</button>
                <button class="option-button">Republika srpska Bosne i Hercegovine</button>
            </div>
        </div>

    </div>

    <script>
        const selectButton = document.getElementsByClassName("select-menu")[0];
        const optionsButtons = document.getElementsByClassName("select-options-container")[0];
        selectButton.addEventListener("click", function () {
            if (optionsButtons.style.maxHeight) {
                optionsButtons.style.maxHeight = null;
            } else {

                optionsButtons.style.maxHeight = optionsButtons.scrollHeight + "px";
            }
        });

        window.addEventListener("click", function (event) {
            if (event.target.id !== "select-button") {
                optionsButtons.style.maxHeight = null;
            }
        })




    </script>

</div>
{% endblock content %}