{% extends 'main_base.html' %}
{% block content %}
<div id="plain-div">
    <h1>
        O nama
    </h1>
    <p>
        <b>uletjeti.com</b> je samostalni projekt vođen idejom olakšavanja administrativnih prepreka prilikom zapošljavanja  u državnoj službi Bosne i Hercegovine. Neumorno radimo na prikupljanju materijala kako bismo korisnicima omogućili adekvatnu i kvalitetnu pripremu za polaganje pismenih i usmenih dijelova intervjua prilikom zapošljavanja u organima uprave na svim nivoima države.
        Dugoročni cilj nam je omogućiti ravnopravnu distribuciju znanja kako bi svako imao jednaku priliku u ostvarivanju karijere.
        
    </p>
</div>
{% endblock content %}