{% load static %}


<div class="card-index-title">
    <h2>Republika srpksa Bosne i Hercegovine</h2>
</div>


<div class="card-index-subtitle">
    <h3>Za kandidate sa visokom i višom stručnom spremom</h3>
</div>

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova ustavnog uređenja</h4>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.jpg' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava brcko sss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Sistema državne uprave i lokalne samouprave</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Upravnog postupka i upravnog spora</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Radnih odnosa i radnih odnosa u upravi Republike Srpske</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijskog poslovanja (VSS)</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
</div>

<div class="card-index-subtitle">
    <h3>Za kandidate sa srednjom stručnom spremom</h3>
</div>

<!-- Strucna pitanja -->

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova ustavnog uređenja i osnova sistema državne uprave i lokalne samouprave</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>
    <!-- lvocucvar-->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova upravnog postupka i upravnog spora, osnova radnih odnosa i radnih odnosa u upravi Republike Srpske</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za poljoprivredu, šumarstvo i vodno gospodarstvo</div>
    </div>
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijskog poslovanja (SSS)</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>

    
</div>