{% load static %}


<div class="card-index-title">
    <h1>Republika srpksa Bosne i Hercegovine</h1>
</div>


<div class="card-index-subtitle">
    <h2>Javna uprava</h2>
</div>

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>javna uprava vss/všs</h1>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.jpg' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava brcko sss -->
    <div class="card">
        <div class="card-title">
            <h1>javna uprava sss</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>

    <!--javna uprava namjestenik -->
    <div class="card">
        <div class="card-title">
            <h1>Namještenik</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>
    </div>
</div>

<div class="card-index-subtitle">
    <h2>Stručna pitanja</h2>
</div>

<!-- Strucna pitanja -->

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Šef pododjeljenja za ljudske resurse i zapošljavanje</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>
    <!-- lvocucvar-->
    <div class="card">
        <div class="card-title">
            <h1>Lovočuvar</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za poljoprivredu, šumarstvo i vodno gospodarstvo</div>
    </div>
    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Sekretar škole</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>

    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Farmaceutski tehničar</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za zdravstvo i ostale usluge</div>
    </div>
    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Šef pododjeljenja za ljudske resurse i zapošljavanje</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>
    <!-- lvocucvar-->
    <div class="card">
        <div class="card-title">
            <h1>Lovočuvar</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za poljoprivredu, šumarstvo i vodno gospodarstvo</div>
    </div>
    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Sekretar škole</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjeljenje za obrazovanje</div>
    </div>

    <!--javna uprava brcko vss -->
    <div class="card">
        <div class="card-title">
            <h1>Farmaceutski tehničar</h1>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.jpg' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi ab similique!
                    Sint cumque mollitia eligendi minima vero ex eos dolorum, enim est, magnam eveniet, maxime rerum
                    quae
                    atque
                    odio?
                </p>
            </div>
        </div>
        <div class="card-link">Odjel za zdravstvo i ostale usluge</div>
    </div>
</div>