{% load static %}


<div class="card-index-title">
    <h2>Republika srpksa Bosne i Hercegovine</h2>
    <p>Republika Srpska jedan je od dva entiteta koji sačinjavaju Bosnu i Hercegovinu. Drugi entitet je Federacija Bosne i Hercegovine. Glavni grad Republike Srpske je Sarajevo, a Banja Luka je najveći privredni, politički i administrativni centar, sjedište Vlade i Narodne Skupštine.</p>
</div>


<div class="card-index-subtitle">
    <h3>Za kandidate sa visokom i višom stručnom spremom</h3>
    <p>Set oblasti koji se odnose na kandidate s visokom ili višom stručnom spremom.</p>

</div>

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova ustavnog uređenja</h4>
        </div>
        <div class="card-content">
            <div class="card-image">
                <img src="{% static './img/card.webp' %}" alt="dokumenti">
            </div>
            <div class="card-description">
                <p>
                    Osnove ustavnog uređenje Republike srpske BiH obhvata: Ustav BiH, Aneks 6 - Opći okvirni sporazum za mir u BiH, Ustav FBiH, Ustav RS, Statut Brčko, Zakon o državljanstvu BiH.

                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>

    <!--javna uprava brcko sss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Sistema državne uprave i lokalne samouprave</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Sistema državne uprave i lokalne samouprave u Republici srpskoj Bosne i Hercegovine obuhvata: Zakon o organizaciji organa uprave u FBiH, Zakon o principima lokalne samouprave, Zakon o vladi FBiH.

                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>

    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Upravnog postupka i upravnog spora</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>Upravni plostupak u Republici srpskoj je skup pravnih pravila po kojima postupaju tijela državne uprave i pravne osobe s javnim ovlastima kada rješavaju o pravima i obvezama i pravnim interesima građana, i drugih subjekata u pojedinim upravnim stvarima. </p>

            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Radnih odnosa i radnih odnosa u upravi Republike Srpske</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>Radnih odnosa i radnih odnosa u upravi Republike Srpske obuhvata zaključivanje ugovora o radu, radno vrijeme, plaće, prestanak ugovora o radu, ostvarivanje prava i obaveza iz radnog odnosa, zaključivanje kolektivnih ugovora, mirno rješavanje kolektivnih radnih sporova i druga pitanja iz radnog odnosa, ako drugim zakonom ili međunarodnim ugovorom nije drugačije određeno.</p>

            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>
    <!--javna uprava namjestenik -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijskog poslovanja (VSS)</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    Kancelarijsko poslovanje Republike srpske obuhvaća: primanje, otvaranje, pregledanje i raspoređivanje pošte, odnosno akata, zavođenje akata, združivanje akata, dostavljanje predmeta i akata u rad, rad s aktima, razvođenje predmeta i akata, rokovnik predmeta, otpremanje pošte i stavljanje predmeta i akata u arhivu ( arhiviranje ) i njihovo čuvanje.

                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>
</div>

<div class="card-index-subtitle">
    <h3>Za kandidate sa srednjom stručnom spremom</h3>
    <p>Set oblasti koji se odnose na kandidate sa srednjom stručnom spremom.</p>
</div>

<!-- Strucna pitanja -->

<div class="card-index-subcontainer">
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova ustavnog uređenja i osnova sistema državne uprave i lokalne samouprave</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
SSS: Osnove ustavnog uređenje Republike srpske BiH obhvata: Ustav BiH, Aneks 6 - Opći okvirni sporazum za mir u BiH, Ustav FBiH, Ustav RS, Statut Brčko, Zakon o državljanstvu BiH.

                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>
    <!-- lvocucvar-->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Osnova upravnog postupka i upravnog spora, osnova radnih odnosa i radnih odnosa u upravi Republike Srpske</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>SSS: Upravni plostupak u Republici srpskoj je skup pravnih pravila po kojima postupaju tijela državne uprave i pravne osobe s javnim ovlastima kada rješavaju o pravima i obvezama i pravnim interesima građana, i drugih subjekata u pojedinim upravnim stvarima. </p>

            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>
    <!--javna uprava brcko vss -->
    <div class="card uskoro">
        <div class="card-title">
            <h4>Kancelarijskog poslovanja (SSS)</h4>
        </div>
        <div class="card-content">
            <div class="card-image"><img src="{% static './img/card.webp' %}" alt="dokumenti"></div>
            <div class="card-description">
                <p>
                    SSS: Kancelarijsko poslovanje Republike srpske obuhvaća: primanje, otvaranje, pregledanje i raspoređivanje pošte, odnosno akata, zavođenje akata, združivanje akata, dostavljanje predmeta i akata u rad, rad s aktima, razvođenje predmeta i akata, rokovnik predmeta, otpremanje pošte i stavljanje predmeta i akata u arhivu ( arhiviranje ) i njihovo čuvanje.

                </p>
            </div>
        </div>
        <div class="card-link">Javna uprava</div>    </div>

    
</div>