{% extends 'main_base.html' %}
{% block content %}
<div id="plain-div">
    <div>

        <h1>
            Uvjeti korištenja
        </h1>
        <p>
            Usluge pružene od strane <b>uletjeti.com</b> besplatne su svim korisnicima i ne zahtijevaju bilo kakav oblik pretplate ili drugu vrstu materijalne nadoknade i / ili kompenzacije.
        </p>
        <h2>
            Autorska prava
        </h2>
        <p>
            Sva autorska prava na izgled i funkcionalnost stranice <b>uletjeti.com</b> zadržana su kod vlasnika stranice u skladu s člankom 4. <i>Zakona o autorskim i srodnim pravima</i> na temelju članka IV.4.a) Ustava Bosne i Hercegovine usvojenim od strane <i>Parlamentarne skupštine Bosne i Hercegovine</i> na 80. sjednici Zastupničkog doma, održanoj 30. lipnja 2010. godine, i na 48. sjednici Doma naroda, održanoj 13. srpnja 2010. godine kao <i>individualna duhovna tvorevina</i>; a nastaju i pripadaju, prema članku 14 istog zakona, <i>na temelju samog stvaranja autorskog djela i nisu uvjetovana ispunjenjem bilo kojih formalnosti ili zahtjeva glede njegovog sadržaja, kvalitete ili svrhe</i>.
    <p>Pitanja i ponuđeni odgovori korišteni za generiranje pitanja na stranici uvrštavaju se prema članku 8.b) <i>Zakona o autorskim i srodnim pravima</i> u službene tekstove iz područja zakonodavstva, uprave i pravosuđa (zakoni, uredbe, odluke, izvješća, zapisnici, sudske odluke i slično), te se definiraju kao nezaštićene tvorevine.</p>
    <p>Svako nedozvoljeno kopiranja koda ili dijelova koda koji čini ovu stranicu, kao i korištenje njenog vizualnog identiteta, tretirat će se kao kršenje navedenih prava.</p>
    
        </p>
        <h2>
            Ograničena odgovornost
        </h2>
        <p>
            <b>uletjeti.com</b> i njegovi autori ne snose odgovornost za moguća nepodudaranja, greške ili nedostatke prilikom sačinjavanja kvizova (pitanja i ponuđenih odgovora). Iako nastojimo temeljito pregledati i analizirati testove, postoje razni faktori koji mogu utjecati da testovi ne odražavaju trenutno stanje pitanja i odgovora za date testove.
        </p>
    </div>

</div>
{% endblock content %}