/**** Variables ****/
:root {
  /* basic colors */
  --primary: #16463f;
  --primary-light: #184e46;
  --primary-dark: #123a34;

  --accent-1: #eac1c6;
  --accent-2: #eeeeee;
  --accent-3: #6d7179;

  --secondary: #195378;
  --secondary-rgb: 25, 83, 120;
  --secondary-dark: #164a6a;
  --secondary-light: #1a587f;

  /* fonts/backgrounds */
  --black: #030303;
  --dark: #1a1a1a;
  --dark-rgb: 26, 26, 26;
  --dark-medium: #333333;
  --dark-disabled: #4d4d4d;

  --white: #fcfcfc;
  --light: #f2f2f2;
  --light-rgb: 242, 242, 242;
  --light-trans: rgba(var(--light-rgb), 0.8);
  --light-medium: #e6e6e6;
  --light-disabled: #d9d9d9;

  /* correct/incorrect */
  --correct: #155226;
  --incorrect: #913610;
}

/**** Setup ****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

#id {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/**** Header ****/
#header {
  position: sticky;
  top: 0;
  z-index: 1;
}
#header,
#footer {
  box-shadow: 0 2px 25px 0px rgba(0, 0, 0, 0.25);
}

.navbar ul {
  min-height: 65px;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--primary);
  color: var(--light);
}

.navbar li {
  list-style-type: none;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--light);
}

.nav-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}

.nav-toggle {
  display: none;
}

.nav-links {
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--light-disabled);
}

.nav-links a {
  color: var(l);
  display: block;
  transition: 0.3s ease;
}

.nav-buttons {
  padding: 0 0.125rem 0 0.125rem;
  font-size: 16px;
}

li.nav-buttons {
  padding: 0 2rem 0 1rem;
}

.navbar button {
  border: 0px;
  border-radius: 25px;
  background-color: var(--secondary);
  color: var(--light);
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar button:hover {
  background-color: var(--secondary-light);
}

@media (max-width: 720px) {
  .navbar ul {
    flex-wrap: wrap;
  }

  .navbar li {
    border-top: 1px solid var(--light-disabled);
  }

  .nav-toggle {
    font-size: 1.5rem;
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-links:active {
    background-color: var(--primary-light);
  }

  li.nav-buttons {
    padding: 1rem 0 1rem 0;
  }

  .nav-buttons {
    display: none;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
  }

  .open-menu {
    display: block;
  }
}

/***** Content *****/

#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: flex-start;
  align-items: center;
  color: var(--dark);
}

#quiz_content {
  display: flex;
  width: 100%;
  flex-direction: row;
  transition: flex-direction 1s;
  margin-top: 5px;
}

@media all and (orientation: landscape) and (max-device-width: 915px) {
  #content {
    width: 100%;
  }

  #quiz_content {
    flex-direction: column;
  }

  header {
    position: unset;
    top: unset;
  }
}

/* Question Box */

#question_box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
  transition: width 1s;
  padding: 20px;
}

.current_question_box * {
  width: 100%;
  color: var(--dark);
}

.current_question_text {
  border-radius: 25px;
  background: rgba(var(--secondary-rgb), 0.8);
  padding: 15px;
  color: var(--light);
  width: 100%;
  font-weight: 700;
  font-size: 200%;
  margin: 0px 0px 20px 0px;
  word-wrap: break-word;
  transition: 0.3s ease;
}

.current_question_text:hover {
  background: rgba(var(--secondary-rgb), 1);
}

.current_choices_box .choice_button {
  width: 100%;
  border: 0px solid var(--dominant);
  overflow: hidden;
  border-radius: 25px;
  min-height: 80px;
  background: var(--light);
  background: rgba(var(--light-rgb), 0.8);
  padding: 10px 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 160%;
  cursor: pointer;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.current_choices_box .choice_button:hover {
  background: var(--dark-disabled);
  color: var(--light);
  transition: 0.2s background ease-out;
}

.correct-answer {
  width: 100%;
  border: 0px solid black;
  overflow: hidden;
  border-radius: 25px;
  min-height: 80px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 160%;
  background: var(--correct);
  color: var(--light);
  transition: 0.2s background ease-out;
}

.correct-answer:hover {
  width: 100%;
  border: 0px solid black;
  overflow: hidden;
  border-radius: 25px;
  min-height: 80px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 160%;
  background: var(--correct);
  color: var(--light);
  transition: 0.2s background ease-out;
}

.incorrect-answer {
  width: 100%;
  border: 0px solid black;
  overflow: hidden;
  border-radius: 25px;
  min-height: 80px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 160%;
  background: var(--incorrect);
  color: var(--light);
  transition: 0.2s background ease-out;
}

.incorrect-answer:hover {
  width: 100%;
  border: 0px solid black;
  overflow: hidden;
  border-radius: 25px;
  min-height: 80px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 160%;
  background: var(--incorrect);
  color: var(--light);
  transition: 0.2s background ease-out;
}

@media all and (max-device-width: 1440px) {
  #current_question_text {
    font-size: 150%;
  }

  #current_choices_box button {
    font-size: 120%;
  }
}

@media (hover: none) {
  * {
    cursor: none !important;
  }
}

@media all and (max-device-width: 720px) {
  #content {
    width: 100%;
  }

  #quiz_content {
    flex-direction: column;
  }

  #current_question_text {
    font-size: 120%;
  }

  #current_choices_box button {
    font-size: 100%;
  }
}

/***** Results *****/

#results_box {
  flex: 1;
  padding: 20px;
  border-radius: 25px;
  transition: flex 1s ease;
  align-items: flex-start;
  max-height: max-content;
  color: var(--dark);
}

.res_hidden {
  display: none;
}

.res_shown {
  display: block;
}

#results_box * {
  color: var(--dark);
}

#results_box_header {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 0px;
  background: rgba(var(--light-rgb), 0.8);
  color: var(--dark);
  padding: 15px;
  padding-bottom: 0px;
}

#results_box hr {
  margin: 0px;
  margin-top: 5px;
  border: 1px solid var(--dark);
  opacity: 20%;
}

#results_box_heading hr {
  margin: 0;
}

#results_box_content {
  overflow-y: scroll;
  word-wrap: break-word;
  max-height: 600px;
  background: rgba(var(--light-rgb), 0.8);
  padding: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
  padding-top: 0px;
  font-size: 100%;
  transition: 0.3s;
}

#results {
  background: rgba(var(--light-rgb), 0.8);
  border-radius: 25px;
  padding: 15px;
  font-weight: 700;
}

@media all and (max-device-width: 720px) {
  #results_box_content {
    font-size: 80%;
  }
  #results {
    margin-right: 5rem;
  }
}

ol {
  counter-reset: list;
  padding-top: 5px;
}

ol > li {
  list-style: none;
  padding: 2px;
}

ol > .wrong_list_item:before {
  content: counter(list, numeric) ") ";
  counter-increment: list;
}

#correct_answers_result {
  color: var(--correct);
  font-size: 160%;
  display: block;
}

#incorrect_answers_result {
  color: var(--incorrect);
  font-size: 160%;
  display: block;
}

@media all and (max-device-width: 720px) {
  #correct_answers_result {
    font-size: 160%;
    display: inline;
    margin-right: 15px;
  }

  #incorrect_answers_result {
    font-size: 160%;
    display: inline;
    padding-bottom: 0px;
  }

  #question_box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
  }

  #question_box .again_btn {
    flex: 1;
    order: 2;
    margin: 0 0 0 0 !important;
  }

  #results {
    flex: 2;
    width: 100%;
    text-align: center;
  }
}

.wrong_answer_container {
  animation: fadeIn 1s;
  border-radius: 25px;
  padding-bottom: 15px;
}

#results_box_content p {
  margin-bottom: 0;
  padding-top: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#results {
  width: 100%;
  text-align: center;
  user-select: none;
}

#question_box .again_btn {
  margin: 15px 0 0 0;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  cursor: pointer;
  order: 1;
  background-color: var(--secondary);
  color: var(--light);
  display: inline-block;
  border-radius: 25px;
  border: 0px solid black;
  transition: background-color 0.3s ease;
  font-weight: 900;
  border: 1px solid var(--light-trans);
}

#question_box .again_btn:hover {
  background-color: var(--secondary-light);
}

/***** footer *****/

#footer {
  background-color: var(--primary);
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 0rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin: auto;
  width: 80%;
  padding: auto;
}

.footer-col {
  width: 25%;
  /* flex: 1; */
  padding: 1rem;
}
.state {
  width: 50%;
  padding-right: 5rem;
}
.statement {
  font-size: 0.8rem;
  color: var(--light);
  display: inline;
  line-height: 1.2rem;
  padding-right: 2rem;
}

.footer-row {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-col h4 {
  text-transform: uppercase;
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--light);
}

.footer-row ul li {
  list-style-type: none;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.footer-row a {
  transition: 0.3s ease;
  text-decoration: none;
  color: var(--light-disabled);
}

.footer-row li a:hover {
  padding-left: 0.3rem;
  color: var(--light);
}

.footer-row h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--secondary);
  height: 2px;
  width: 50px;
}
.social-links {
  margin-top: 15px;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--light-disabled);
  text-decoration: none;
  color: var(--light-disabled);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  transition: 0.3 ease;
}

.social-links a:hover {
  color: var(--primary);
  background-color: var(--light-disabled);
}

@media (max-width: 890px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col.state {
    width: 100%;
    order: 3;
    padding-right: 0;
  }
  .footer-row {
    justify-content: space-between;
  }
}

@media (max-width: 473px) {
  .footer-col.links {
    order: 2;
  }
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer-copyright {
  color: var(--light-disabled);
  text-align: center;
  font-size: 0.8rem;
  line-height: 4rem;
}

/**** Home ****/
#home-index-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 600px;
}

select {
  margin-top: 50px;
  background-color: var(--light);
  padding: 15px;
  font-size: 2rem;
  min-width: 40%;
  min-height: 2rem;
  border: 0;
  border-radius: 25px;
  background-color: rgba(var(--light-rgb), 0.8);
  transition: 0.3s ease;
  border: 3px solid rgba(0, 0, 0, 0);
  outline: none;
}

select:hover {
  border: 3px solid rgba(var(--light-rgb), 0.8);
}

option {
  opacity: 80%;
}

@media (max-width: 720px) {
  select {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  select {
    font-size: 1rem;
  }
}

/**** Scrollbar ****/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(var(--light-rgb), 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--dark-rgb), 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--dark-rgb), 0.5);
}
