{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock head %}
    <script src="https://kit.fontawesome.com/1e0e201c56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uletjeti</title>
</head>


<body>

    <!-- MAIN HEADER -->
    <header id="header">
        <nav class="navbar">
            <ul>
                <li class="nav-logo"><a href="{% url "home:index" %}">uletjeti.io</a></li>
                <li class="nav-toggle"><i class="fa-solid fa-bars"></i></li>
                <li class="nav-links"><a href="#">Testovi</a></li>
                <li class="nav-links"><a href="#">Skripte</a></li>
                <li class="nav-links"><a href="#">Pomoć</a></li>
                <li class="nav-buttons"><button>Kontakt</button></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENT -->
    {% block content %}{% endblock content %}

    <!--  MAIN FOOTER -->
    <footer id="footer">
        <div class="footer_container"></div>
    </footer>


    <!-- MAIN SCRIPT -->
    <script>
        // MENU TOGGLE
        const toggleButton = document.getElementsByClassName("nav-toggle")[0];
        const navLinks = document.getElementsByClassName("nav-links");
        const navButtons = document.getElementsByClassName("nav-buttons");
        toggleButton.addEventListener("click", function() {
            for (const i of navLinks) {
                i.classList.toggle("open-menu");
                //navLinks[i].classList.toggle("open-menu");
            };
            for (const i of navButtons) {
                i.classList.toggle("open-menu");
                //navButtons[i].classList.toggle("open-menu");
            };
        });

        // CLICK AWAY MENU
        window.onclick = function (e) {
            if (!document.getElementById("header").contains(e.target)) {
                for (const i of navLinks) {
                    i.classList.remove("open-menu");
                    //navLinks[i].classList.toggle("open-menu");
                };
                for (const i of navButtons) {
                    i.classList.remove("open-menu");
                    //navButtons[i].classList.toggle("open-menu");
                };
            };
        };

        // SCROLL AWAY MENU
        window.onscroll = function () {
            for (const i of navLinks) {
                i.classList.remove("open-menu");
                //navLinks[i].classList.toggle("open-menu");
            };
            for (const i of navButtons) {
                i.classList.remove("open-menu");
                //navButtons[i].classList.toggle("open-menu");
            };
        }
    </script>
</body>

</html>