{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uletjeti</title>
</head>


<body>

    <!-- MAIN HEADER -->
    <header id="header_id">
        <div id="">

        </div>
        <a class="logo" href="{% url 'home:index' %}">ulet.io</a>
        <nav id="navigation_bar" class="navigation_bar">
            <ul id="nav_links" class="nav_links">
                <li><a href="{% url 'javna_uprava_vss_brcko:index' %}">Testovi</a></li>
                <li><a href="#">Skripte</a></li>
                <li><a href="#">Pomoć</a></li>
            </ul>
            <a id="contact_btn" class="contact_btn" href="#"><button>Kontakt</button></a>
        </nav>
        <div id="menu_icon" class="menu_icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <!-- CONTENT -->
    {% block content %}{% endblock content %}

    <!--  MAIN FOOTER -->
    <footer id="footer" class="footer">
        <div class="footer_container"></div>
    </footer>


    <!-- MAIN SCRIPT -->
    <script>
        // MENU TOGGLE
        const toggleButton = document.getElementById("menu_icon");
        const navList = document.getElementById("navigation_bar");
        toggleButton.addEventListener("click", () => {
            navList.classList.toggle("open_menu");
            toggleButton.classList.toggle("open_menu");
            window.navigator.vibrate([80]);
        });

        // CLICK AWAY
        window.onclick = function (e) {
            if (!document.getElementById("header_id").contains(e.target)) {
                navList.classList.remove("open_menu");
            };
        };

        // SCROLL AWAY
        window.onscroll = function () {
            navList.classList.remove("open_menu");
        }
    </script>

</body>

</html>