{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontawesome 6.10/css/all.min.css" %}"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uletjeti</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3638728453638870"
     crossorigin="anonymous"></script>
</head>


<body>

    <!-- MAIN HEADER -->
    <header id="header">
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-logo"><a href="{% url 'home:index' %}">uletjeti</a></li>
                <li class="nav-toggle"><i class="far fa-bars"></i></li>
                <li class="nav-links"><a href="{% url 'home:brcko' %}">Brčko distrikt BiH</a></li>
                <li class="nav-links"><a href="{% url 'home:federacija' %}">Federacija BiH</a></li>
                <li class="nav-links"><a href="{% url 'home:rs' %}">Republika srpska BiH</a></li>
                <li class="nav-buttons"><button>Kontakt</button></li>
            </ul>
        </nav>
    </header>

    <div class="bg-wraper">
        <div id="bg">
        </div>
    </div>
    <!-- MAIN -->
    <main>
        <div id="loading">
            
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p>Sačekaj sekundu...</p>
        </div>
        
        
        <div id="main-content">

            {% block content %}{% endblock content %}
        </div>
    </main>
    

    <!--  MAIN FOOTER -->
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col state">
                    <h4>cilj</h4>
                    <div class="statement">

                        <p>
                            uletjeti ima za cilj da obezbijedi korisnicima pristup platformi pomoću koje se mogu pripremiti za intervjue za zapošljavanje u javnim i državnim ustanovama na prostoru Bosne i Hercegovine. S obzirom na neefikasnost ovdašnjih administrativnih (iako pretrpanih) struktura, te na nasumičnost, nepotističke pretenzije i sijaset drugih faktora koji utječu na zapošljavanje kadrova u ovoj sferi, uletjeti želi da omogući jednostavnu pripremu za proces pismenih ispita u ovoj sferi. Sretno!
                        </p>
                    </div>
                </div>
                <div class="footer-col links">
                    <h4>poveznice</h4>
                    <ul>
                        <li><a href="#">O nama</a></li>
                        <li><a href="#">Uvjeti korištenja</a></li>
                        <li><a href="#">Politika privatnosti</a></li>
                        <li><a href="#">Pomoć</a></li>
                    </ul>
                </div>
                <div class="footer-col social">
                    <h4>društvene mreže</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span>Copyright © 2022, uletjeti.io</span>
            </div>
        </div>
    </footer>


    <!-- MAIN SCRIPT -->
    <script>
        const loadingImage = document.getElementById("loading");
        const mainContent = document.getElementById("main-content");
        const mainTag = document.getElementsByTagName("main")[0];
        
        // MENU TOGGLE
        const toggleButton = document.getElementsByClassName("nav-toggle")[0];
        const navLinks = document.getElementsByClassName("nav-links");
        const navButtons = document.getElementsByClassName("nav-buttons");
        toggleButton.addEventListener("click", function () {
            // document.getElementById("header").setAttribute("style", "box-shadow: 0 0 50px 50px rgba(var(--dark-rgb), 0.8)");
            for (const i of navLinks) {
                i.classList.toggle("open-menu");
                //navLinks[i].classList.toggle("open-menu");
            };
            for (const i of navButtons) {
                i.classList.toggle("open-menu");
                //navButtons[i].classList.toggle("open-menu");
            };
            
        });

        // CLICK AWAY MENU
        window.onclick = function (e) {
            if (!document.getElementById("header").contains(e.target)) {
                for (const i of navLinks) {
                    i.classList.remove("open-menu");
                    //navLinks[i].classList.toggle("open-menu");
                };
                for (const i of navButtons) {
                    i.classList.remove("open-menu");
                    //navButtons[i].classList.toggle("open-menu");
                };
            };
        };

        // SCROLL AWAY MENU
        window.onscroll = function () {
            for (const i of navLinks) {
                i.classList.remove("open-menu");
                //navLinks[i].classList.toggle("open-menu");
            };
            for (const i of navButtons) {
                i.classList.remove("open-menu");
                //navButtons[i].classList.toggle("open-menu");
            };
        }


        window.addEventListener("beforeunload", () => {
            console.log("ides")
            loadingImage.style.display = "flex"
            mainContent.style.display = "none"
            mainTag.style.justifyContent = "center"
        })
        window.addEventListener("load", () => {
            console.log("dosao")
            loadingImage.style.display = "none"
            mainContent.style.display = "unset"
            mainTag.style.justifyContent = "flex=start"
        })

        document.main.className = 'fade';

        document.addEventListener("DOMContentLoaded", () => {
            window.setTimeout(function() {
              document.body.className = '';
            }, 230);
          });

    </script>
</body>

</html>